@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
 
body{
  font-family: 'Open Sans', sans-serif;
}
 
/************ PAGE GAME.HTML ***********/



/* HEADER */
 
header {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 50px;
}
 
h1 {
  display: inline-block;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 60px;
  font-family: 'Press Start 2P', cursive;
  color: #3375B6;
}
 
.header--logo{
  border-radius: 50%;
  margin-bottom: 40px;
}

.logo--mindavatar{
    border-radius: 50%;
}
 
.header--button{
  font-family: 'Press Start 2P', cursive;
  color: white;
  padding: 15px 40px;
  font-size: 25px;
  border-radius: 10px;
  border: none;
}
 

/* Page Game */

.body__rules{
    
  margin-top: 50px;
  margin-left: 150px;
  flex-direction: column;
  background-repeat: no-repeat ;
  background-size: cover;

}

.logo_rules{

  margin-top: 50px;
  width: 300px;
  z-index: 1;

}

.text--rules-tout{
  padding: 20px;
  color: #2078cf;
  font-size: 19px;
  font-family: 'Unbounded', cursive;

}

.rules-1 {
  margin-top: 15px;
}
.ordi {
  color: black;
}

.rules_text{
  
  font-family: 'Unbounded', cursive;
  color: #2078cf;
  padding: 25px;
  margin-top: 40px;
  margin: 35px;
  border: 1px solid darkgoldenrod;
  border-radius: 1em;

}
.for_play{

font-family: 'Fredoka One', cursive;

}
.rules_1{

  font-family: 'Fredoka One', cursive;
  margin-top: 70px;
  color: darkgoldenrod;
  font-size: 24px;

}
.little_title{

  font-size: 24px;
  font-family: 'Fredoka One', cursive;
  color: darkgoldenrod;
}

.rules_spacing{

  margin-top: 20px;
}

.ready_for{

margin-top: 40px;
margin-bottom: 40px;

}

.ready_for_play_rules{

color: darkgoldenrod;


}

@media (max-width:460px){
  .rules_text p{
      font-size: 16px;
  }

}
@media (max-width:360px){

  .logo_rules{
      width: 75%;
}

}
@media (max-width:570px){
  .body__rules{
      margin-right: 30px;
  }
}




/* TIMER */

#timer {
  font-weight: bold;
  font-size:  4em;
}




/* BOARD GAME */
 
.container {
  display: block;
  width: 900px;
  margin: 0 auto;
}
 
.container {
  width: 450px;
  margin-top: 50px;
}
 
 
.case {
  display: inline-block;
  border-radius: 50%;
  background-color: #ffffff;
}
 
/* GUESSES */
 
#guesses {
  display: inline-block;
  justify-content: center;
  background-color: #9c9c9c;
  padding: 15px 30px;
  font-size: 0;
  border-radius: 15px;
  width: 200px;
}
 
.guess { margin-top: 15px; }
 
.choices, .code .case, .guess .case {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
 
.code .case + .case, .guess .case + .case {
  margin-left: 10px;
}
 
.code {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 15px;
}
 
.secret {
  font-family: 'Press Start 2P', cursive;
  color: #3375B6;
  text-align: center;
  line-height: 40px;
  font-weight: 800;
  font-size: 16px;
}
 
 
/* HINTS */
 
#hints {
  vertical-align: bottom;
  display: inline-block;
  padding: 15px 20px;
  margin-left: 30px;
  border-radius: 15px;
  background-color: #9c9c9c;
  
}
 
.hint {
  height: 40px;
}
 
.row {
  margin-top: 5px;
}
 
.hint .case {
  width: 10px;
  height: 10px;
}
 
.hint .case {
  margin-left: 5px;
}
 
.hint {
  margin-top: 15px;
}
 
.right {
  background-color: rgb(0, 0, 0);
}
 
.almost {
  color: rgb(255, 0, 0);
}
 
 
#choices.container{
  display: flex;
  justify-content: center;
  width: 900px;
  margin:auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
 
.container>button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-left: 30px;
  border: none;
}
 
 
#delete {
  font-size: 21px;
  background-color: #ffffff;
  border-radius: 50%;
  border: solid 1px rgb(221, 14, 14);
}
 
/************* AVATARS *************/
 
.alex {
  background-image:url(/image/alex.png);
  background-size: contain;
}
 
.kevin {
  background-image:url(/image/kevin.png);
  background-size: contain;
}
.laeticia {
  background-image:url(/image/laeticia.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.bruno {
  background-image:url(/image/bruno.png);
  background-size: contain;
}
.quentin {
  background-image:url(/image/quentin.png);
  background-size: contain;
}
.leandre { background-image:url(/image/leandre.png);
  background-size: contain;}
 


   
/* ================================
        ANNIMATION AVATAR 
=================================== */

.bruno{
    justify-content: center;
    transition: transform .1s;
    color: #2078cf;
}
.bruno:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1) ;
    transform: scale(1.1);
}

.laeticia{
    justify-content: center;
    transition: transform .1s;
    color: #2078cf;
}
.laeticia:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1) ;
    transform: scale(1.1);
}


.alex{
    justify-content: center;
    transition: transform .1s;
    color: #2078cf;
}
.alex:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1) ;
    transform: scale(1.1);
}


.leandre{
    justify-content: center;
    transition: transform .1s;
    color: #2078cf;
}
.leandre:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1) ;
    transform: scale(1.1);
}


.quentin{
    justify-content: center;
    transition: transform .1s;
    color: #2078cf;
}
.quentin:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1) ;
    transform: scale(1.1);
}


.kevin{
    justify-content: center;
    transition: transform .1s;
    color: #2078cf;
}
.kevin:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1) ;
    transform: scale(1.1);
}




/* =======================================
        SCORE BOARD
==========================================*/
.gameBoard{
    margin-bottom: 50px;
}


.gameover{
    box-sizing:border-box;
    padding:70px 0 0 0;
    width:362px;
    height:327px;
    position:absolute;
    top:0;
    left:-6px;
    background: rgba(0,0,0,0.5);
    z-index:100;
    margin-top:-35px;
    border-radius:15px;
    text-align:center;
    display:none;
    color:#fff;
  }
  
  .sidebar{
    margin: 15px;
    justify-content: center;
    margin-top: 45px;
    height:45px;
    display: flex;
  }
  
  .score-fin--game{
    margin-top: 170px;
  }
  
  .score {
    font-family: 'Press Start 2P', cursive;
    padding: 5px 5px 5px;
    margin: 5px;
    left:17px;
    bottom:38px;
    line-height:20px;
    font-size:18px;
    text-decoration:none;
    border-radius:8px;
    background-color: rgb(248, 248, 248);
    border: 2px solid #3375B6;
  }
  
  .score a {
    color: #3375B6;
    text-decoration: none;
    justify-content: flex-start;
  }
  
  .resultat--score {
    font-family: 'Press Start 2P', cursive;
    padding: 5px 5px 5px;
    margin: 5px;
    left:17px;
    bottom:38px;
    line-height:20px;
    font-size:18px;
    text-decoration:none;
    border-radius:8px;
    background-color: rgb(248, 248, 248);
    border: 2px solid #3375B6;
  }
  
  .resultat--score a {
    color: #3375B6;
    text-decoration: none;
}
  
  #time {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
  }
  
  .gametile{
    width:70px;
    height:95px;  
    float:left;
    margin-top:-34px;
    position:relative;
    transition: top 200ms ease;
    cursor: pointer;
  }
  
  /* Buttons */
  
  .button-restart{
    font-family: 'Press Start 2P', cursive;
    padding: 5px 5px 5px;
    margin: 5px;
    left:17px;
    bottom:38px;
    line-height:20px;
    font-size:18px;
    text-decoration:none;
    border-radius:8px;
    background-color: rgb(248, 248, 248);
    border: 2px solid #3375B6;
  }

  .button-restart a {
    color: #3375B6;
    text-decoration: none;
    justify-content: flex-start;
  }

  .button-restart:hover{
    border-color: #3375B6;
  }

  .button-restart:active{
    font-size:18px;
    border-color: rgb(17, 228, 77);
  }

  .scoreboard {
    transition: transform .1s;
}
    .scoreboard:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1) ;
    transform: scale(1.1);
}

/*==============================================
        ScoreBoard
==============================================*/





/************ PAGE INDEX.HTML ***********/

/* ==============================
    ANIMATION HEADER BUTTON
=============================*/

.header--index{
    width: 800px;
}

.header--title{
    justify-content: center;
    transition: transform .1s;
    color: #2078cf;
}
.header--title:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1) ;
    transform: scale(1.1);
}

.header--logo{
    transition: transform .1s;
}
.header--logo:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1) ;
    transform: scale(1.1);
}

.header--button--index1{
    transition: transform .1s;
}

.header--button--index1:hover{
    -ms-transform: scale(1.);
    -webkit-transform: scale(1.2) ;
    transform: scale(1.2);
}

.header--button--index2{
    transition: transform .1s;
}

.header--button--index2:hover{
    -ms-transform: scale(1.);
    -webkit-transform: scale(1.2) ;
    transform: scale(1.2);
}

.header--button--index3{
    transition: transform .1s;
}

.header--button--index3:hover{
    -ms-transform: scale(1.);
    -webkit-transform: scale(1.2) ;
    transform: scale(1.2);
}

.header--button{
    transition: transform .1s;
}

.header--button:hover{
    -ms-transform: scale(1.);
    -webkit-transform: scale(1.2) ;
    transform: scale(1.2);
}


.header--button--index1{
    font-family: 'Press Start 2P', cursive;
    height: 35px;
    width: 150px;
    border-radius: 0.5em;
    background-color: #3375b6;
    border-style: none;
    margin: 15px;
}

.header--button--index1 a{
    color: #FFF;
    text-decoration: none ;
    margin: 15px;
}

.header--button--index2{
    font-family: 'Press Start 2P', cursive;
    height: 35px;
    width: 150px;
    border-radius: 0.5em;
    background-color: #3375b6;
    border-style: none;
    margin: 15px;
}

.header--button--index2 a{
    color: #FFF;
    text-decoration: none ;
    margin: 15px;
}

.header--button--index3{
    font-family: 'Press Start 2P', cursive;
    height: 35px;
    width: 150px;
    border-radius: 0.5em;
    background-color: #3375b6;
    border-style: none;
    margin: 15px;
}

.header--button--index3 a{
    color: #FFF;
    text-decoration: none ;
    margin: 15px;
}


.score{
    justify-content: center;
    transition: transform .1s;
    color: #2078cf;
}
.score:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1) ;
    transform: scale(1.1);
}

.resultat--score{
    justify-content: center;
    transition: transform .1s;
    color: #2078cf;
}
.resultat--score:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1) ;
    transform: scale(1.1);
}

.button-restart{
    justify-content: center;
    transition: transform .1s;
    color: #2078cf;
}
.button-restart:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1) ;
    transform: scale(1.1);
}

